{% extends 'base.html' %}
{% load static %}
{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'mainapp/style.css' %}">
{% endblock %}
{% block content %}
	<div class="hero-white">
			{% include 'includes/main_menu.html' %}
		</div>

		<div class="details">
			<div class="links clearfix">
				<ul class="links-menu">
					{% for item_menu in links_menu%}
						<li><a href="{{ item_menu.href }}">{{ item_menu.name|title }}</a> </li>
					{% endfor %}

    				<li class="dropdown-toggle" data-toggle="dropdown"><a href="#">Категории</a></li>
					<div class="dropdown-menu">
						{% for cat in all_categories %}
							<a class="dropdown-item" href="{% url 'products:category' cat.id %}">{{ cat }}</a>
						{% endfor %}
					</div>

				</ul>
			</div>
			{% if hot_product %}
				<div class="details-products">
					<div class="details-slider">
						<div class="slider-product">
							<img src="/media/{{ hot_product.image }}">
							<div class="slider-control">
						</div>
						</div>

					</div>

					<div class="description">
						<h3 class="big-bold">{{ hot_product.name | title }}</h3>
						<h3 class="red">Горячее Предложение</h3>
						<p class="price"> {{ hot_product.price }} <span>руб</span></p>
						<a href="
							{% if user.is_authenticated %}
								{% url 'basket:add' hot_product.pk %}
							{% else %}
								{% url 'auth:login' %}
							{% endif %}
						" class="red-button">
							заказать <i class="fa fa-chevron-right" aria-hidden="true"></i>
						</a>
						<div class="description-text">
							<p>{{ hot_product.description }}</p>
						</div>
					</div>
				</div>
			{% endif %}
			<div class="featured">
				<div class="title clearfix">
        			<h2>
          				Категория: "{{ category.name|title }}"
        			</h2>
      			</div>
				<a class="explore" href="">показать все <img src="{% static 'geekshop/img/arrow.png' %}" alt=""></a>
				<div class="clearfix"></div>
				<div class="tab-content">
					{% for product in products %}
					<div class="block">
						<a href="{% url 'products:product' product.id %}"><img src="/media/{{ product.image }}" alt="{{ product.short_desc }}" style="width: 100%;">
							<div class="text" style="width: 100%;">
								<img src="/static/geekshop/img/icon-hover.png" alt="arrow">
								<h4>{{ product.category.name }}</h4>
								<h4>Заказать {{ product.name }}</h4>
								<p>{{ product.category.name|title }}</p>
							</div>
						</a>
						{% if user.is_authenticated %}
							<a href="{% url 'basket:add' product.pk %}">
								<h6>Отпраить в карзину {{ product.name | title }}</h6>
							</a>
						{% endif %}
					</div>
					{% endfor %}
				</div>
		</div>
		</div>

		<div class="clr"></div>
{% endblock %}