{% extends 'base.html' %}
{% load static %}
{% block content %}
	<div class="hero-white">
      {% include 'includes/main_menu.html' %}
    </div>
    <div class="container px-3 my-5 clearfix">
        <!-- Shopping cart table -->
        <div class="card">
            <div class="card-header">
                <h2>{{ title }}</h2>
            </div>
            {% include 'basketapp/includes/inc_basket_list.html' %}
        </div>
    </div>
    <div class="clr"></div>
{% endblock %}
{% block js %}
    <script src="{% static 'js/basket_scripts.js' %}"></script>
{% endblock %}