<div class="card-body">
  <div class="table-responsive">
              <table class="table table-bordered m-0">
                <thead>
                  <tr>
                    <!-- Set columns width -->
                    <th class="text-center py-3 px-4" style="min-width: 400px;">Наименование продукта и детали</th>
                    <th class="text-right py-3 px-4" style="width: 100px;">Цена</th>
                    <th class="text-center py-3 px-4" style="width: 120px;">Количество</th>
                    <th class="text-right py-3 px-4" style="width: 100px;">Всего</th>
                    <th class="text-center align-middle py-3 px-0" style="width: 40px;">
                      <a href="#" class="shop-tooltip float-none text-light" title="" data-original-title="Clear cart">
                        <i class="ino ion-md-trash"></i></a>
                    </th>
                  </tr>
                </thead>
                <tbody>
                {% for basket_item in basket_items %}
                  <tr>
                    <td class="p-4">
                      <div class="media align-items-center">
                        <img src="/media/{{ basket_item.item_img }}" class="d-block ui-w-40 ui-bordered mr-4" alt="{{ basket_item.item_name }}" style="width: 25%;">
                        <div class="media-body">
                          <a href="#" class="d-block text-dark">{{ basket_item.item_name }}</a>
                          <small>
                          </small>
                        </div>
                      </div>
                    </td>
                    <td class="text-right font-weight-semibold align-middle p-4">{{ basket_item.price_for_item }} руб.</td>
                    <td class="align-middle p-4"><input type="number" name="{{ basket_item.basket_pk }}"
                           min="0"
                           value="{{ basket_item.quantity }}"></td>
                    <td class="text-right font-weight-semibold align-middle p-4">{{ basket_item.item_total_price }} руб.</td>
                    <td class="text-center align-middle px-0"><a href="{% url 'basket:remove' basket_item.basket_pk %}" class="shop-tooltip close float-none text-danger" title="" data-original-title="Remove">×</a></td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
  <!-- / Shopping cart table -->
  <div class="d-flex flex-wrap justify-content-between align-items-center pb-4">
<!--              <div class="mt-4">-->
<!--                <label class="text-muted font-weight-normal">Promocode</label>-->
<!--                <input type="text" placeholder="ABC" class="form-control">-->
<!--              </div>-->
<!--              <div class="d-flex">-->
<!--                <div class="text-right mt-4 mr-5">-->
<!--                  <label class="text-muted font-weight-normal m-0">Discount</label>-->
<!--                  <div class="text-large"><strong>$20</strong></div>-->
<!--                </div>-->
                <div class="text-right mt-4">
                  <label class="text-muted font-weight-normal m-0">Общая стоймость</label>
                  <div class="text-large"><strong>{{ total }}</strong></div>
                </div>
              </div>
  <div class="float-right">
              <button type="button" class="btn btn-lg btn-default md-btn-flat mt-2 mr-3"><a href="{% url 'products:index' %}">Продолжить покупки</a></button>
              <button type="button" class="btn btn-lg btn-primary mt-2"><a style="color: #fff;" href="{% url 'ordersapp:order_create' %}">Оформить Заказ</a></button>
            </div>
</div>