{% extends 'base.html' %}
{% load static %}
{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'authapp/style.css' %}">
{% endblock %}

{% block content %}
	<div class="hero-white">
			{% include 'includes/main_menu.html' %}

    </div>
		{% if errors %}
			{{ errors }}
		{% endif %}
        <div class="container register-form">
            <div class="form">
                <div class="note">
                    <p>{{ title|title}}</p>
                </div>

                <form class="form-content" action="{% url 'auth:register' %}" method="POST" enctype="multipart/form-data">
                    <div class="row">
                        {% csrf_token %}
                        {% for register_field in register_form %}
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ register_field.label_tag }}
                                {{ register_field }}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <input type="submit" class="btnSubmit" value="зарегистрироваться">
<!--                        <a href="{% url 'auth:register' %}" class="">-->
<!--                            зарегистрироваться-->
<!--                        </a>-->
<!--                    </input>-->
                </form>
            </div>
        </div>
	<div class="clr"></div>

{% endblock %}