{% extends 'adminapp/base.html' %}
{% load static %}

{% block content %}
  <div class="user_delete">
    <b>Уверены, что хотите удалить {{ category_to_delete.name }}
    {% if category_to_delete.description %}
      ({{ category_to_delete.description|title }})</b>
    {% endif %}
    ?
    <form action="{% url 'myadmin:category_delete' category_to_delete.pk %}" method="post">
      {% csrf_token %}
      <input class="btn btn-danger" type="submit" value="удалить">
    </form>
    <button class="btn btn-success">
      <a href="{% url 'myadmin:categories' %}">
        Отмена
      </a>
    </button>
  </div>
{% endblock %}