			<div class="header clearfix">
				<a href="/" class="logo"></a>
				<ul class="menu">
					<li>
						<a href="/"{% if route == "home" %} class="active" {% endif %}>
							домой
						</a>
					</li>
					<li>
						<a href="{% url 'products:index' %}"{% if route == "products" %} class="active" {% endif %}>
							продукты
						</a>
					</li>
					<li>
						<a href="{% url 'contacts' %}"{% if route == "contacts" %} class="active" {% endif %}>
							контакты
						</a>
					</li>
				{% if user.is_authenticated %}
					<li>
						<a href="{% url 'auth:edit' %}">
							{{ user.first_name|default:'Пользователь' }}
						</a>
					</li>
				{% endif %}
  				{% if user.is_superuser %}
    				<li>
      					<a href="{% url 'myadmin:users' %}">
							админка
						</a>
    				</li>
  				{% endif %}
					<li>
    			{% if user.is_authenticated %}
      					<a href="{% url 'auth:logout' %}">
							выйти
						</a>
    			{% else %}
      					<a href="{% url 'auth:login' %}">
							войти
						</a>
    			{% endif %}
					</li>
					{% if not user.is_superuser %}
					<li class="dropdown-toggle {% if route == "basket" %}active{% endif %}" data-toggle="dropdown">
						 Карзина
					</li>
						<div class="dropdown-menu">
							{% if basket %}
							<table class="dropdown-item" border="1">
								<thead>
									<tr>
										<th>Товар</th>
										<th>Цена</th>
										<th>Кол-во</th>
										<th>Всего</th>
									</tr>
								</thead>
								<tbody>
									{% for basket_row in basket %}
										<tr>
											<td>
												{{ basket_row.item_name }}
											</td>
											<td>
												{{ basket_row.price_for_item }}
											</td>
											<td>
												<center>{{ basket_row.quantity }}</center>
											</td>
											<td>
												{{ basket_row.item_total_price }}
											</td>
										</tr>
									{% endfor %}
									<tr>Total: {{ total }} рублей
									{% if user.is_authenticated %}
									<a class="basket__a" href="{% url 'basket:view' %}">Карзина</a>
									{% endif %}
									</tr>
								</tbody>
							</table>
							{% else %}
							<p class="dropdown-item">Карзина пуста</p>
							{% endif %}
						</div>
					{% endif %}
					</ul>
					<a href="#" class="search"></a>

			</div>